header {
	background-color: orange;
	margin-bottom: 50px;
}


body {
	font-family: "Roberto", sans-serif;
	color: black;
}




header h1 {
  line-height: 1;
  margin-bottom: 0;
}

.image-card {
	width: 100%;
}

.card {
	border: 1px solid black;
	margin-bottom: 20px;
}

.card-content {
	padding: 20px;
}

.card-content h3 {
	margin-top: 0;
	margin-bottom: 0;
}

.card-content p {
	margin: 0.5em 0;
}
